html,
body {
	margin: auto;
	font-family: "Roboto Condensed", sans-serif;
}

.row.screen-all, .aside-bar, .main-side {
	height: auto;
}

.aside-bar-content {
	margin: 0;
}

.aside-bar-content .nav .nav-item .nav-link {
	color: #404040;
}

.aside-bar-content .nav .active {
	background-color: #eaeaea;
}

.vertical-center {
	min-height: 50%;
	min-height: 50vh;

	display: flex;
	align-items: center;
}

.hero-img-container {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
}

.hero-img-container > p {
	margin: 0;
	font-style: italic;
}

.top-title {
	text-align: right;
}

.top-title header {
	font-size: 3em;
}

.top-title section {
	font-size: 1.5em;
}

.aside-bar {
	background: lightgrey;
}

.bottom-title {
	font-size: 2em;
}

button {
	cursor: pointer;
}

.bottom-title-btns {
	text-align: right;
}

.bottom-images {
	text-align: center;
}